@charset "UTF-8";

.popup .head {
	cursor: pointer;
}
.area-toolbar {
	position: absolute;
}

.ol-overviewmap .ol-overviewmap-map {
    border: 1px solid #7b98bc;
    height: 200px;
    margin: 2px;
    width: 230px;
    position: absolute;
    right: 65px;
    bottom: 132px;
    top: 700px;
    position: fixed;
}

.ol-overviewmap .ol-overviewmap-box {
	border: 2px solid red;
}

@media screen and (max-width: 1024px) {
	/** 추가 
	.toolbar .dep1 .webMapViewTool {
		display: none;
	}
	*/
	.ol-overviewmap .ol-overviewmap-map  {
		display: none;
	}
	.price3{
       .cont{
         .inner.grey{height:calc(100% - 50px);}
       }
     }
}
