.odf-control.area-toolbar {
	position: absolute;
	z-index: 9999999;
	right: .5em;
	top: .5em;
	width: 30px
}

.subGrp {
	position: relative
}

.subGrpArea {
	position: absolute;
	right: 35px;
	top: 0;
	padding: 2px;
	background-color: #e6e6ea;
	border-radius: 5px;
	width: max-content
}

.subGrpArea.on {
	display: block
}

.subGrpArea.off {
	display: none
}

.subGrpArea ul {
	margin: 0;
	padding: 0;
	display: inline-block
}

.subGrpArea ul li {
	list-style: none;
	list-style-position: inside;
	display: inline-block
}

.subGrpArea ul li button span {
	vertical-align: middle
}

.odf-control-btn {
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 1px solid #e6e6ea;
	border-radius: 5px;
	font-weight: 700;
	background-repeat: no-repeat;
	background-position: 50%;
	font-size: 0
}

.ol-overviewmap.right-down {
	left: 30px !important;
	bottom: -135px !important
}

.ol-overviewmap.left-up {
	left: -200px;
	bottom: -5px !important
}

.ol-overviewmap.left-down {
	top: 0 !important;
	left: -200px;
	right: 35px
}

.ol-overviewmap.right-up {
	left: 30px !important;
	bottom: -5px !important
}

.odf-control.area-toolbar div.subToolbarGrp {
	padding: 3.5px 0
}

.subToolbarGrp {
	text-align: center;
	margin-bottom: 3px
}

.odf-draw-overay, .subToolbarGrp {
	background-color: rgba(211, 211, 214, .72);
	border-radius: 5px
}

.odf-draw-overay {
	padding: 3px;
	vertical-align: middle
}

.odf-draw-overay input {
	width: 100px;
	margin-right: 3px
}

.odf-draw-overay button {
	background-color: #fff;
	border: 1px solid #e6e6ea;
	border-radius: 5px;
	font-weight: 700
}

.odf-control-overviewmap {
	position: relative
}

.odf-control-overviewmap .ol-overviewmap.ol-control {
	position: absolute;
	background-color: hsla(0, 0%, 100%, .82);
	padding: 4px;
	border-radius: 5px
}

.ol-overviewmap-map {
	background-color: #fff
}

.ol-overlay-container {
	will-change: left, right, top, bottom
}

.ol-overviewmap .ol-overviewmap-map {
	border: 1px solid #7b98bc;
	height: 150px;
	margin: 2px
}

.ol-overviewmap:not (.ol-collapsed ) button {
	bottom: 1px;
	left: 2px;
	position: absolute
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map, .ol-overviewmap.ol-uncollapsible button
	{
	display: none
}

.ol-overviewmap:not (.ol-collapsed ){
	background: hsla(0, 0%, 100%, .8)
}

.ol-overviewmap-box {
	border: 2px dotted rgba(0, 60, 136, .7)
}

.ol-overviewmap .ol-overviewmap-box:hover {
	cursor: move
}

.ol-overviewmap-box {
	border: 2px solid red
}

.ol-selectable {
	-webkit-touch-callout: default;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto
}

.slider {
	height: 100px;
	margin: 2px
}

.slider-btn {
	height: 20px;
	background-color: #e6e6ea;
	text-align: center
}
/*
.btn-control-basemap {
	background-color: #e6e6ea;
	background-image: url(/dev/images/cb8d3e64f040f923196b82ee1aad4fc8.png)
}

.btn-control-basemap:hover {
	background-image: url(/dev/images/48faea2e792557d40a3d18afd560edec.png)
}
*/
#subGrp-basemap-area button.odf-control-btn {
	font-size: 14px;
	width: auto
}

#subGrp-basemap-area button.odf-control-btn:hover {
	color: #36b3e6;
	width: auto
}

/*
.btn-control-pre-move {
	background-image: url(/dev/images/7c58a8cdefc49db990e37d40bfb6f635.png)
}

.btn-control-pre-move:hover {
	background-image: url(/dev/images/fd384df6a159a38ec95e15d9a2a6a2c0.png)
}

.btn-control-after-move {
	background-image: url(/dev/images/651e0774e0321978a8a5fda0e05c0a71.png)
}

.btn-control-after-move:hover {
	background-image: url(/dev/images/2e0a156ed7018dfce72a12f6338bca94.png)
}

.btn-control-zoom-in {
	background-image: url(/dev/images/5b694e03379f960d4baf2a3d8e3ee59e.png)
}

.btn-control-zoom-in:hover {
	background-image: url(/dev/images/ff4602d4e27b9cac69ac2091fe859b1d.png)
}

.btn-control-zoom-out {
	background-image: url(/dev/images/a7616b7c16268b345a095a68fc65d7d8.png)
}

.btn-control-zoom-out:hover {
	background-image: url(/dev/images/a90be604a014291eb42867b77d774c2f.png)
}

.btn-control-draw {
	background-image: url(/dev/images/59c740afedc564796cde36c8e60ec7e9.png)
}

.btn-control-draw:hover {
	background-image: url(/dev/images/677a457c64a9fefe0f76028ba34d7bde.png)
}

.btn-control-draw-text {
	background-image: url(/dev/images/df7d254c2ffe43baac8bc71326f22244.png)
}

.btn-control-draw-text:hover {
	background-image: url(/dev/images/6cb1e4fc4fd7c8bb9c90e365bae1907b.png)
}

.btn-control-draw-polygon {
	background-image: url(/dev/images/02af9a42709791178926b4212687e541.png);
	background-size: contain
}

.btn-control-draw-polygon:hover {
	background-image: url(/dev/images/1ab0d1357641f729e16e178dbb7fbbb7.png);
	background-size: contain
}

.btn-control-draw-lineString {
	background-image: url(/dev/images/92811ecf37ade8d9c4e9a2121cc642fa.png)
}

.btn-control-draw-lineString:hover {
	background-image: url(/dev/images/27d1f56a0f6628c37e4a31b178d2f96c.png)
}

.btn-control-draw-point {
	background-image: url(/dev/images/4b8bf13a9de33898862dde99692149c9.png)
}

.btn-control-draw-point:hover {
	background-image: url(/dev/images/14c535909e1c9c1f809e954b843a8156.png)
}

.btn-control-draw-circle {
	background-image: url(/dev/images/0c729775bb4b726b098feddf6d716f72.png);
	background-size: contain
}

.btn-control-draw-circle:hover {
	background-image: url(/dev/images/b8cfc0e0d13c6e4a4fe3c4254cbade5b.png);
	background-size: contain
}

.btn-control-draw-box {
	background-image: url(/dev/images/090d09b930fa7b566aab48d842d0a209.png)
}

.btn-control-draw-box:hover {
	background-image: url(/dev/images/f19062f3da04ae55e782d0d2eef399dc.png)
}

.btn-control-draw-curve {
	background-image: url(/dev/images/8dbda2f4db4a11a829c40bcbea9223ea.png)
}

.btn-control-draw-curve:hover {
	background-image: url(/dev/images/8a2ddce4dade727b782c693624a00f9e.png)
}

.btn-control-draw-buffer {
	background-image: url(/dev/images/aebb1b8c0f3882811970cff31ad8f654.png)
}

.btn-control-draw-buffer:hover {
	background-image: url(/dev/images/cfd986868b64f23bd282390e93f9a4e0.png)
}

.btn-control-print {
	background-image: url(/dev/images/bd91d9337d4d83eb11932e1cd3c8d348.png)
}

.btn-control-print:hover {
	background-image: url(/dev/images/92ed04923a59f17ac7464634204498dc.png)
}

.btn-control-download {
	background-image: url(/dev/images/47a367e848c2c707e8b42e509daf1a73.png)
}

.btn-control-download:hover {
	background-image: url(/dev/images/6d6705152faf6a03393cc8eb081fb910.png)
}

.btn-control-overviewmap {
	background-image: url(/dev/images/b44096e0dd7bf02136a947e82e0e2e25.png)
}

.btn-control-overviewmap:hover {
	background-image: url(/dev/images/d56484379d67cc166ec717e620b61751.png)
}

.btn-control-measure {
	background-image: url(/dev/images/d5eefe198cc9eb7544f73d118ec6ebaf.png)
}

.btn-control-measure:hover {
	background-image: url(/dev/images/edfc1e1b411f67940c72846539adadfc.png)
}

.btn-control-measure-distance {
	background-image: url(/dev/images/e0b8d058116cbe061522f5428de272be.png)
}

.btn-control-measure-distance:hover {
	background-image: url(/dev/images/290ecd28770936f1d8bdd34f2d58126a.png)
}

.btn-control-measure-area {
	background-image: url(/dev/images/a54f92425e926ca8b510db038a32792e.png)
}

.btn-control-measure-area:hover {
	background-image: url(/dev/images/d7117ed51e57a7dbdcdad56115f6734b.png)
}

.btn-control-clear {
	background-image: url(/dev/images/ef07702d971a4619e24a4e65e801822b.png)
}

.btn-control-clear:hover {
	background-image: url(/dev/images/9e0323973e15e912e5cd066dbceaa194.png)
}

.btn-control-swiper {
	background-image: url(/dev/images/9b94d31534c485362290c51542d8b1f8.png);
	background-size: contain
}

.btn-control-swiper:hover {
	background-image: url(/dev/images/505d4c9169a95fb011c10ef379f1440c.png)
}

.btn-control-swipe div.subGrpArea {
	background-color: #fff
}

.btn-control-dividemap {
	background-image: url(/dev/images/568f7ce26e18b46d8038dd77a7c90a52.png);
	background-size: contain
}

.btn-control-dividemap:hover {
	background-image: url(/dev/images/b128a4694b83652d9cc86d3f1cbcc533.png);
	background-size: contain
}

.btn-control-dividemap-dualMap {
	background-image: url(/dev/images/51ed320c6c30145df296bc5e3dc44e6d.png);
	background-size: contain
}

.btn-control-dividemap-dualMap:hover {
	background-image: url(/dev/images/d48a6b5190372786e4cc9bb8b7ebadf6.png);
	background-size: contain
}

.btn-control-dividemap-quadMap {
	background-image: url(/dev/images/6efc50de9236a45605f3dbd4ee619bc7.png);
	background-size: contain
}

.btn-control-dividemap-quadMap:hover {
	background-image: url(/dev/images/0e7219378741cf50de776cdcefaa4b09.png);
	background-size: contain
}
*/

.dualMap:not (.mainMap ):not (.on2 ){
	display: none
}

.dualMap.on2 {
	display: block;
	border-collapse: collapse
}

.dualMap.on2.d-2-1 {
	float: left
}

.dualMap.on2.d-2-2 {
	float: right
}

.quadMap:not (.mainMap ):not (.on4 ){
	display: none
}

.quadMap.on4 {
	display: block;
	border-collapse: collapse;
	float: left
}

.h-slider {
	width: 100px;
	margin: 2px;
	text-align: justify !important;
	padding-right: 20px
}

.h-slider-btn {
	width: 20px;
	background-color: #e6e6ea
}

#positionStr {
	float: right;
	font-size: 15px;
	font-weight: 700
}

/* .layer-Aside {
	position: absolute;
	left: -220px;
	top: 140px;
	width: 300px;
	height: 100%;
	z-index: 99999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
} */

/* .layer-Aside.openAside {
	left: 80px
} */

/* .layer-Aside {
	z-index: 1000;
	border-right: 1px solid #c8c8c8;
	background-color: #fff
} */

.area-layerTitle {
	position: relative;
	padding: 0 15px;
	background-color: #36b3e6;
	border-bottom: 1px solid #c8c8c8
}

.area-layerTitle p {
	display: inline-block;
	line-height: 42px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.5px
}

.asideBtnGrp {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -13px
}

.asideBtnGrp button {
	vertical-align: top;
	width: 25px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: 50%;
	text-indent: -9999px
}

.area-asideScroll {
	overflow: auto;
	height: calc(100% - 43px)
}

.asideList {
	padding: 5px 8px
}

.asideList li {
	position: relative;
	margin-bottom: 5px;
	padding: 15px 5px 0;
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e7e7e7
}

.asideList li.selected {
	background-color: #f5f8fc
}

.sortable li {
	cursor: move
}

.btn-typeGrp {
	width: calc(100% - 95px);
	height: 28px;
	text-align: left
}

.btn-typeGrp .textArea {
	display: inline-block;
	width: calc(100% - 40px);
	line-height: 28px;
	vertical-align: middle;
	color: #555;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.asideListBtnGrp {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;
	height: 20px
}

.asideListBtnGrp button {
	float: left;
	width: 25px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	text-indent: -9999px
}

.menu-select {
	position: absolute;
	z-index: 1010;
	top: 140px;
	left: 0;
	width: 80px;
	height: 100%;
	background: #123874
}

.menu-select li {
	height: 27px;
	border-bottom: 1px solid #1a58a0;
	text-align: center;
	color: #7aa1df;
	cursor: pointer;
	font-size: 10px
}

.menu-select li.selected, .menu-select li:hover {
	color: #fff
}

.draggableMarker:hover {
	cursor: move
}

#areaDiv {
	position: absolute;
	z-index: 99999;
	top: 145px
}